.loader{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

.first-logo{
    transform: rotate(180deg)translate(-50px);
}
.second-logo{
    transform: rotate(-180deg)translate(50px);

}